<h1>Google Maps Hotel Search</h1>
<div class="form-group">
	<input placeholder="search for hotel" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
	       class="form-control" #search [formControl]="searchControl">
</div>

<div class="col-xs-12 col-sm-12 col-md-9" *ngIf="estimatedTime!=null && estimatedDistance!=null">
	<div class="col-xs-4 iw_attribute_name">Estimated Time</div>
	<div class="col-xs-2">{{estimatedTime}}</div>
	<div class="col-xs-4 iw_attribute_name">Estimated Distance</div>
	<div class="col-xs-2">{{estimatedDistance}}</div>
</div>


<div class="form-group">
	<div class="row">
		<div class="col-xs-12 col-sm-12 {{mapClass}}">
			<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
				<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
				<google-map-hotel [lat]="latitude" [lang]="longitude" (MarkerClick)="MarkerClickHandler($event)"
				                  (HotelResult)="HotelResultHandler($event)"></google-map-hotel>
				<sebm-google-map-directions [origin]="origin" [destination]="destination"
				                            (DirectionResult)="DirectionResultHandler($event)"></sebm-google-map-directions>
			</agm-map>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3">
			<div id="listing">
				<table id="resultsTable" class="table table-striped">
					<tbody id="results">
					<tr *ngFor="let hotel of hotels;let rowIndex = index;" (click)="triggerClick(hotel)">
						<td><img src="{{getIcon(rowIndex)}}"></td>
						<td>{{hotel.placeResult.name}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div style="display: none">
		<div class="row custom-row" id="info-content" #infowindowcontent style="margin: 0px auto;">
			<div class="row space-row">
				<div class="col-xs-3 iw_table_icon"><img src="{{hotel?.icon}}"></div>
				<div class="col-xs-9"><a href="{{hotel?.website}}">{{hotel?.name}}</a></div>
			</div>
			<div class="row space-row">
				<div class="col-xs-3 .label-default iw_attribute_name">Address:</div>
				<div class="col-sm-9">{{hotel?.address}}</div>
			</div>
			<div class="row space-row">
				<div class="col-xs-3 iw_attribute_name">Telephone:</div>
				<div class="col-xs-9">{{hotel?.phone}}</div>
			</div>
			<div class="row space-row" id="iw-rating-row">
				<div class="col-xs-3 .label-default iw_attribute_name">Rating:</div>
				<div class="col-xs-9" id="iw-rating">{{hotel?.rating}}</div>
			</div>
			<div class="row space-row">
				<div class="col-xs-12">
					<button (click)="getDirection(hotel)" class="btn btn-primary btn-block" style="margin-top: 10px;">
						Get Direction
					</button>
				</div>
			</div>
		</div>
	</div>
</div>