<div class="jumbotron" (click)="showMapPage('place-search')" style="cursor: pointer">
	<h1>Angular 2 + Google Maps Places Autocomplete </h1>
	<p>The Places Autocomplete by Google Maps is very helpful as it allows a user to search for an address or
		specific location.
		I’ll combine the Places Autocomplete API with a Google Map using the angular2-google-map module.</p>
</div>
<div class="jumbotron" (click)="showMapPage('direction-search')" style="cursor: pointer">
	<h1>Angular 2 + Google Maps Directions</h1>
	<p>The Places Autocomplete by Google Maps is very helpful as it allows a user to search for an address or
		specific location.
		I’ll combine the Places Autocomplete API with a Google Map using the angular2-google-map module.</p>
</div>